services:
  bot:
    image: govdbot/govd:main
    container_name: bot
    restart: unless-stopped
    networks:
      - govd-network
    env_file:
      - .env
    volumes:
      - ./private:/app/private
      - ./logs:/app/logs
      - ./downloads:/app/downloads
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:latest
    container_name: db
    restart: unless-stopped
    environment:
      POSTGRES_DB: govd
      POSTGRES_USER: govd
      POSTGRES_PASSWORD: password
    volumes:
      - db:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U govd"]
      interval: 3s
      timeout: 5s
      retries: 30

volumes:
  db:

