services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: bot-dev
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/tmp
      - go-build-cache:/go-cache
      - go-mod-cache:/gomod-cache
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:latest
    container_name: db-dev
    restart: unless-stopped
    environment:
      POSTGRES_DB: govd
      POSTGRES_USER: govd
      POSTGRES_PASSWORD: password
    volumes:
      - db:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U govd"]
      interval: 3s
      timeout: 5s
      retries: 30

  pgweb:
    image: sosedoff/pgweb:latest
    container_name: pgweb-dev
    restart: unless-stopped
    command: >
      --bind=0.0.0.0
      --url=postgres://govd:password@db:5432/govd?sslmode=disable
      --log-level=error
    ports:
      - "8081:8081"
    depends_on:
      db:
        condition: service_healthy

volumes:
  db:
  go-build-cache:
  go-mod-cache:
